@font-face {
  font-family: "munake";
  src:
    local("munake"),
    url("../assets/munake-font/Munake-vm0rE.otf") format("otf");
}

.footerContainer {
  display: flex;
  flex-direction: column;
  height: 6vh;
  .copyright {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: $drunkBlueDark;

    p {
      padding: 2px;
      width: 100%;
      font-family: "munake";
      color: $drunkpolice;
    }
  }
  .BlueNeon {
    display: flex;
    z-index: 4;
    box-shadow: $blue-box-shadow;
    border: solid 2px white;
    width: 100vw;
    height: 0.3;
  }
}
