* {
  font-family: "munake";

  .NotSelected {
    color: $drunkpolice;
    font-size: $drunkfontsize;
  }
}

.Selected {
  text-shadow: $green-text-shadow;
  font-size: $drunkfontsize;
  color: white;
}

.neonBarContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.neonBar {
  box-shadow: $pink-box-shadow;
  border: solid 2px white;
  width: 20vh;
  height: 0.3vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.ingredient {
  // position: relative;
  .toptoptop {
    position: relative;
    display: flex;

    .IngredientArea {
      position: relative;
      // margin: 2vh 0 2vh 2vh;
      padding-top: 5vh;
      padding-bottom: 3vh;

      min-width: 16vw;
      height: 87vh;
      display: flex;
      flex-direction: column;
      // border-radius: 10px 0px 0px 10px;
      justify-content: flex-start;
      flex-wrap: nowrap;
      // overflow: hidden;
      // box-shadow: $blue-box-shadow;
      // border-right: solid 2px white;
      background-color: $drunkBlueDark;

      .sideIng {
        visibility: hidden;
        position: absolute;
        top: 45%;
        z-index: 10;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5em 0.6em 0.5em 0.6em;
        font-size: 1em;
        font-weight: bold;
        border-radius: 15px;
        color: #fff6fb;
        text-shadow: -2px 2px 5px #fd3084;
        background-color: transparent;
        border: 2px solid #feb1de;
        box-shadow:
          0 0 0px 1px #f11271,
          0 0 10px 2px #fd3084,
          inset 0 0 0px 1px #f11271,
          inset 0 0 10px 2px #fd3084;
        transition: 100ms;

        &:hover {
          box-shadow:
            0 0 0px 1px #f11271,
            0 0 10px 2px #fd3084,
            inset 0 0 0px 1px #f11271,
            inset 0 0 30px 2px #fd3084;
          text-shadow: 0 0 10px #fd3084;
          transform: translateY(-5px);
        }

        &:active {
          box-shadow:
            0 0 0px 1px #f11271,
            0 0 25px 2px #fd3084,
            inset 0 0 0px 1px #f11271,
            inset 0 0 30px 2px #fd3084;
          transform: translateY(1px);
        }
      }
    }

    .BlueNeon {
      box-shadow: $blue-box-shadow;
      border: solid 2px white;
      width: 0.3vh;
      height: 87vh;
      // margin-top: 2vh;
      z-index: 4;
    }
  }
}

.handleIngredientTypeContainer {
  width: 100%;
}

.handleIngredientType {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  button {
    justify-content: space-between;
  }
}

button:hover {
  color: $drunkgreen;
  text-shadow: $green-text-shadow;
}

.ingredientListContainer {
  overflow: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.Ingredientlist {
  width: 100%;
  padding-bottom: 1vh;

  .bottleImage {
    padding-right: 1vh;
  }
}

.ingredientListContainer::-webkit-scrollbar {
  display: none;
}

.bottleimagesrc {
  width: 115px;
}

.Ingredientlist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

button {
  margin-right: 5px;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 95%;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px $drunkPink solid;
  border-bottom: 2px $drunkPink solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px $drunkPink solid;
  border-bottom: 1px $drunkPink solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

@media screen and (max-width: 700px) {
  .ingredient {
    .toptoptop {
      .IngredientArea {
        position: relative;
        // left: -100%;
        // visibility: hidden;
        .sideIng {
          visibility: initial;
          // right: 0;
          // right: calc(100vw - 20px);
        }

        // .middleIng {
        //   position: absolute;
        //   left: 0;
        //   top: 45%;
        //   background-color: red;
        //   height: 20vh;
        //   width: 5vw;
        //   z-index: 5;
        // }
      }
    }
  }

  .hide {
    position: absolute;
    visibility: hidden;
    right: 100%;
    width: 0%;
  }
  .show {
    position: absolute;
    visibility: visible;
    // left: 0vw;
    z-index: 3;
    // background-color: black;
    width: 100%;

    .IngredientArea {
      height: 100vh;
      .sideIng {
        right: -40px;
        z-index: 11;
      }

      .IngredientList {
        align-items: center;
        justify-content: center;
      }
    }
  }

  .bottleimagesrc {
    width: 70px;
  }

  .Selected,
  .NotSelected {
    font-size: 1rem;
  }

  .blurside {
    filter: blur(3px);
  }
}
