@font-face {
  font-family: "munake";
  src:
    local("munake"),
    url("../assets/munake-font/Munake-vm0rE.otf") format("otf");
}

.quiz {
  margin: 20px 30px 20px 30px;
  display: flex;
  cursor: pointer;

  .title-quiz {
    border: solid white 2px;
    margin: 37px;
    border-radius: 20px;
    width: 20%;
    margin-left: 7vh;
    font-family: "munake";
    font-size: 18px;
    color: $drunkpolice;
    padding: 10px;
    text-align: center;
    box-shadow:
      0 0 8px $drunkPink,
      0 0 16px $drunkPink,
      0 0 20px $drunkPink,
      0 0 22px $drunkPink,
      0 0 24px $drunkPink,
      inset 0 0 8px $drunkPink,
      inset 0 0 16px $drunkPink,
      inset 0 0 20px $drunkPink;
  }

  .ingredients-quiz {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    font-family: "munake";
    color: $drunkpolice;
    text-align: center;
    border: solid white 2px;
    box-shadow: $blue-box-shadow;
    padding: 20px;
    width: 600px;
    font-size: 18px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
    }
  }
}

.score {
  .title-score {
    padding: 10px;
    font-family: "munake";
    font-size: 18px;
    color: $drunkpolice;
    text-align: center;
    width: 10%;
    position: absolute;
    top: 32vh;
    right: 14.3vw;
    background: rgba(16, 32, 50, 0.75);
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 30px 10px #00aaf6;
  }

  .score-container {
    padding: 25px;
    width: 300px;
    height: 120px;
    border: 1px solid;
    border-radius: 30px;
    background: rgba(16, 32, 50, 0.75);
    box-shadow: 0 0 30px 10px #00aaf6;
    position: absolute;
    right: 10vw;
    top: 40vh;
    color: $drunkpolice;
    font-size: 20px;
    text-align: center;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  gap: 17px;

  .cocktailCard-wrapper {
    scale: 0.7;
    width: 300px;
    height: 300px;
    margin-top: -70px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.top {
  display: flex;
  align-items: center;

  button {
    padding: 12px;
    width: auto;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: $blue-box-shadow;
    color: $drunkpolice;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  .quiz {
    .title-quiz {
      width: 100%;
    }
    .ingredients-quiz {
      width: 100%;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    gap: 3vw;

    .cocktailCard-wrapper {
      scale: 0.4;
      width: 180px;
      height: 180px;
      transition: transform 0.3s;
    }
  }

  .score-container {
    padding: 25px;
    width: 200px;
    height: 120px;
  }
}

@media screen and (max-width: 880px) and (min-width: 480px) and (orientation: landscape) {
  .cards {
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    gap: 1vw;

    .cocktailCard-wrapper {
      width: 200px;
      height: 300px;
    }
    overflow-y: auto;
    height: 50vh;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .score {
    .title-score {
      padding: 10px;
      position: absolute;
      top: 38vh;
      right: 18vw;
      background: rgba(16, 32, 50, 0.75);
      border: 1px solid transparent;
      border-radius: 20px;
      box-shadow: 0 0 30px 10px #00aaf6;
    }

    .score-container {
      padding: 25px;
      width: 300px;
      height: 120px;
      border: 1px solid;
      border-radius: 30px;
      background: rgba(16, 32, 50, 0.75);
      box-shadow: 0 0 30px 10px #00aaf6;
      position: absolute;
      right: 7vw;
      top: 49vh;
      color: $drunkpolice;
      font-size: 20px;
      text-align: center;
    }
  }
}
