@font-face {
  font-family: "munake";
  src:
    local("munake"),
    url("../assets/munake-font/Munake-vm0rE.otf") format("otf");
}

.quiz {
  display: flex;
  flex-direction: column;
  margin: 30px;

  .title-quiz {
    border: solid white 2px;
    border-radius: 20px;
    width: 10%;
    margin-left: 35vh;
    font-family: "munake";
    font-size: 18px;
    color: $drunkpolice;
    padding: 10px;
    text-align: center;
    box-shadow:
      0 0 8px $drunkPink,
      0 0 16px $drunkPink,
      0 0 20px $drunkPink,
      0 0 22px $drunkPink,
      0 0 24px $drunkPink,
      inset 0 0 8px $drunkPink,
      inset 0 0 16px $drunkPink,
      inset 0 0 20px $drunkPink;
  }

  .ingredients-quiz {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    font-family: "munake";
    color: $drunkpolice;
    text-align: center;
    border: solid white 2px;
    box-shadow: $blue-box-shadow;
    padding: 35px;
    width: 600px;
    font-size: 18px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      display: inline-block;
    }
  }
}

.title-score {
  padding: 10px;
  font-family: "munake";
  font-size: 18px;
  color: $drunkpolice;
  text-align: center;
  width: 10%;
  position: relative;
  left: 138vh;
  bottom: 93vh;
  margin-left: 22vh;
  background: rgba(16, 32, 50, 0.75);
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 30px 10px #00aaf6;
}

.score-container {
  padding: 25px;
  width: 300px;
  height: 500px;
  border: 1px solid;
  border-radius: 50px;
  opacity: 0.7;
  background: rgba(16, 32, 50, 0.75);
  box-shadow: 0 0 30px 10px #00aaf6;
  position: absolute;
  left: 70vw;
  bottom: -40px;
  color: $drunkpolice;
  font-size: 20px;
}

.cards {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(3, 0.1fr);
  gap: 20px;
}

.top {
  display: flex;
  align-items: center;

  button {
    margin-left: 40vh;
    padding: 16px;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: $blue-box-shadow;
    color: $drunkpolice;
    font-size: 18px;
  }
}
